@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(216, 12%, 8%);
    align-items: center;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Overpass', sans-serif;
    color: #fff;
   
}

footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    
}
.footer-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 15px; 
    text-align: center;
    background-image: linear-gradient(
    hsl(213, 19%, 18%),
    hsl(216, 12%, 8%)); 
    padding-top: 20px;
    color: hsl(216, 12%, 54%);
}
.footer-div a { 
    color: hsl(216, 12%, 54%);
    text-decoration: none;
}

.footer-div a:hover {
    color: hsl(228, 45%, 44%);
}

.site {
    margin-right: 10px;
    margin-bottom: 10px;
}

.rating {
    display: flex;
    text-align: center;
    align-items: flex-start;
    flex-direction: column;
    width: 23%;
    background-image: linear-gradient(hsl(211, 20%, 22%), hsl(219, 28%, 12%));
    border-radius: 8%;
    margin: 10px;
    margin-top: 250px;
    min-width: 437px;
}

.star-img {
    align-self: flex-start;
    margin-top: 25px;
    margin-left: 30px;
    padding: 15px;
    border-radius: 50%;
    background-color: hsl(216, 21%, 25%);
}

.rating h1 {
    align-self: flex-start;
    margin-top: 25px;
    margin-left: 20px;
    padding: 10px;
}

.text-rating {
    align-self: flex-start;
    margin-left: 20px;
    padding: 10px;
    text-align: left;
    color: hsl(217, 12%, 63%);
    font-weight: bold;
}

.button {
    margin-top: 25px;
    margin: 10px;
    margin-right: 20px;
    padding: 15px;
    width: 50px;
    border-radius: 50%;
    background-color: hsl(216, 21%, 25%);
}

.btn-div {
    display: flex;
    margin-left: 22px;
    padding-top: 10px;
    color: hsl(217, 12%, 63%);
    font-weight: bold;
}

.submit {
    width: 85%;
    height: 40px;
    letter-spacing: 3px;
    margin: 5px;
    margin-bottom: 30px;
    border: 1px solid transparent;
    border-radius: 25px;
    background-color: hsl(25, 97%, 53%);
}

.submit:hover {
    cursor: pointer;
    color: hsl(25, 97%, 53%);
    background-color: hsl(0, 0%, 100%);
  }

.button:hover {
    color: white;
    background-color: hsl(216, 12%, 54%);
    cursor: pointer;
}

.container-popup {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    width: 23%;
    background-image: linear-gradient(hsl(211, 20%, 22%), hsl(219, 28%, 12%));
    border-radius: 8%;
    margin: 10px;
    margin-top: 250px;
    min-width: 437px;
    font-weight: bold;
    padding-top: 50px;
    padding-bottom: 30px;
    position: relative;
}

.container img {
    margin: 10px;
    margin-top: 30px;
    padding: 10px;
}

.numbers {
    margin: 35px;
    background-color: hsl(216, 21%, 25%);
    padding: 8px 20px;
    border-radius: 50px;
    color: hsl(25, 97%, 53%);
}

.thankyou h1 {
    margin-bottom: 5px;
}

.thankyou p {
    margin: 10px;
    margin-bottom: 20px;
    padding: 10px;
    max-width: 400px;
    color: hsl(217, 12%, 63%);
}

.popin {
    display: none;
    position: absolute;
}

.botao-clicado {
    background-color: hsl(25, 97%, 53%);
    color: #fff;
    cursor: pointer;
}