@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(216, 12%, 8%);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-family: 'Overpass', sans-serif;
    color: #fff;
    min-height: 100vh;
}

.footer-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 15px; 
    text-align: center;
    background-image: linear-gradient(
    hsl(213, 19%, 18%),
    hsl(216, 12%, 8%)); 
    padding-top: 20px;
    color: hsl(216, 12%, 54%);
    bottom: 0px;
    width: 100%;
    position: absolute;
}
.footer-div a { 
    color: hsl(216, 12%, 54%);
    text-decoration: none;
}

.footer-div a:hover {
    color: hsl(228, 45%, 44%);
}

.site {
    margin-right: 10px;
    margin-bottom: 10px;
}

.rating {
    display: flex;
    text-align: center;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    width: 23%;
    background-image: linear-gradient(hsl(211, 20%, 22%), hsl(219, 28%, 12%));
    border-radius: 8%;
    margin: 20px;
    min-width: 430px;
}

.star-img {
    align-self: flex-start;
    margin-top: 25px;
    margin-left: 30px;
    padding: 15px;
    border-radius: 50%;
    background-color: hsl(216, 21%, 25%);
}

.rating h1 {
    align-self: flex-start;
    margin-top: 25px;
    margin-left: 22px;
    padding: 10px;
}

.text-rating {
    align-self: flex-start;
    margin-left: 22px;
    padding: 10px;
    text-align: left;
    color: hsl(217, 12%, 63%);
    font-weight: bold;
}

.button {
    margin-top: 25px;
    margin: 10px;
    margin-right: 20px;
    padding: 15px;
    width: 50px;
    border-radius: 50%;
    background-color: hsl(216, 21%, 25%);
}

.btn-div {
    display: flex;
    flex-wrap: wrap;
    margin-left: 22px;
    padding-top: 10px;
    color: hsl(217, 12%, 63%);
    font-weight: bold;
}

.submit {
    width: 85%;
    height: 40px;
    letter-spacing: 3px;
    margin: 5px;
    margin-bottom: 30px;
    border: 1px solid transparent;
    border-radius: 25px;
    background-color: hsl(25, 97%, 53%);
    color: #fff;
}

.submit:hover {
    cursor: pointer;
    color: hsl(25, 97%, 53%);
    background-color: hsl(0, 0%, 100%);
  }

.button:hover {
    color: white;
    background-color: hsl(216, 12%, 54%);
    cursor: pointer;
}

.container-popup {
    display: none;
    text-align: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 23%;
    background-image: linear-gradient(hsl(211, 20%, 22%), hsl(219, 28%, 12%));
    border-radius: 8%;
    margin: 20px;
    min-width: 437px;
    font-weight: bold;
    padding-top: 50px;
    padding-bottom: 30px;
    position: relative;
}

.numbers {
    margin: 35px;
    background-color: hsl(216, 21%, 25%);
    padding: 8px 20px;
    border-radius: 50px;
    color: hsl(25, 97%, 53%);
}

.thankyou h1 {
    margin-bottom: 5px;
}

.thankyou p {
    margin: 10px;
    margin-bottom: 20px;
    padding: 10px;
    max-width: 400px;
    color: hsl(217, 12%, 63%);
}

.popin {
    display: flex;
    position: absolute;
}

.botao-clicado {
    background-color: hsl(25, 97%, 53%);
    color: #fff;
    cursor: pointer;
}

.display-off {
    display: none;
}

/*DESIGN RESPONSIVO*/

@media all and (max-width: 409px) {
     .rating {
        align-items: center;
        min-width: 10px;
        background-image: linear-gradient();
        width: 80%;
    }


    .container-popup {
        min-width: none;
    }

    .btn-div {
        margin-right: 10px;
        margin-left: 15px;
        padding-top: 10px;
    }

    .button {
        margin-right: 5px;
        margin-left: 5px;
        width: 35px;
        padding: 10px ;
        font-size: small;
    }

    .container-popup {
        width: 80%;
        min-width: 10px;
    }

    .footer-div {
        padding-bottom: 10px;
    }
}

@media all and (max-width: 500px) and (min-width:410px) {
    .rating {
       align-items: center;
       min-width: 10px;
       background-image: linear-gradient();
       width: 80%;
   }


   .container-popup {
       min-width: none;
   }

   .btn-div {
       margin-right: 10px;
       margin-left: 15px;
       padding-top: 10px;
   }

   .button {
       margin-right: 10px;
       margin-left: 10px;
       width: 40px;
       padding: 10px ;
       
   }

   .container-popup {
       width: 80%;
       min-width: 10px;
   }

   .footer-div {
       padding-bottom: 10px;
   }
}